<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section id="container_page">
        <div id="header_container">
            <p>Aquí va el header</p>
        </div>
        <div id="page_container" class="container pageEntry">
            <article>
                <p>Loading...</p>
            </article>
        </div>

        <div id="footer_container">
            <p>Derechos reservados blablabla</p>
        </div>
    </section>
</body>

</html>