<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <section class="profile">
            <div class="profile-info">
                    <figure class="profile-picture-container">
                        <img id="profile-picture" src="./img/mariana-perfil.jpg" alt="Profile picture">
                    </figure>
                    <box class="profile-description">
                        <h1>Mariana Fuentes</h1>
                        <i></i>
                        <i></i>
                        <i></i>
            </div>
            <div class="pets">
                <header class="header-pets">Pets</header>
                <box class="pets-profile-content">
                        <div class="carousel">
                            <a class="carousel-item" href="#one!"><img src="./img/caminando-parque.jpg"></a>
                            <a class="carousel-item" href="#two!"><img src="./img/mujer-parque.jpg"></a>
                            <a class="carousel-item" href="#three!"><img src="./img/pareja-bosque5.jpg"></a>
                            <a class="carousel-item" href="#four!"><img src="./img/parque-otono.jpg"></a>
                            <a class="carousel-item" href="#five!"><img src="./img/lindo-perro.jpg"></a>
                        </div>
                </box>
            </div>
            <div class="life">
                <header class="header-life">Nuestra Vida</header>
                <box class="life-content">
                    <i></i>
                </box>
            </div>
        </section>
</body>
</html>