/*Small devices-smartphone*/
@media (min-width: 320px) {
    .hide-desktop-section {
        display: none;
    }

    /* .hidePresentation {
        display: none;
    } */
    /*Pantalla de bienvenida mobile*/
    #start-button {
    background-color: #008F95;
    border-color: #008F95;
    font-size: 20px;
  }
  .card {
    margin-top: 1em;
    background-color: aliceblue;
  }

  .btn-secondaryR {
    background-color: #e9b000;
    border-color: #e9b000;
    font-size: 20px;
    margin-bottom: 0.6em;
    margin-top: 1em;
  }

  /* .hidePresentation {
        display: none;
    }

    #showPresentation {
        display: block !important; 
    } */
  /* .show {
        display: block;
    } */
}
/*Medium devices-tablet*/
@media (min-width: 768px) {
}
/*Large devices-desktop*/
@media (min-width: 992px) {
  .hide-desktop-section {
    display: block;
  }
  .hide-mobile-section {
    display: none;
  }
}
/*Extra large -proyector o desktop más grande*/
@media (min-width: 1200px) {
}
