
.conteiner {
   width: 100%;
   height: 100vh;
   background-image: url(../icon/fondo2.jpg);
   background-size: cover;
   border:7px solid rgba(0, 0, 0, 0.212);
   }

   .login{
      width: 320px;
      height: 420px;
     margin: auto;
     background-color: rgba(0, 0, 0, 0.3);
     padding:  10px 20px;
     box-sizing: border-box;
     margin-top: 20px;
     border-radius: 7px;
   }
   #logo{
      width: 40%;
      margin: auto;
      display: block;
   }
   #loader{
      text-align: center;
      font-size: small;
   }

.BienvenidaLogo{
 
}
.perfil-box{
   width: 100%;
   height: 100vh;
    margin: auto;
   background-image: url(../icon/fondo3.jpg);
   background-size: cover;
   border:7px solid rgba(233, 134, 20, 0.5);
  
  
}

.Perfil{
   width: 320px;
   height: 420px;
   background-size: cover;
   background: rgba(38, 202, 194, 0.616);
   opacity: 0.8;
   color:#000;
   top: 10%;
   left: 40%;
   position: relative;
   transform:translate(-50, -50);
   box-sizing: border-box;
   padding: 70px 30px;
   border-radius: 5%;

}

.Perfil .avatar{
   background-color: rgba(255, 140, 9, 0.876);
   width: 100px;
   height: 100px;
   border-radius: 50%;
   position: absolute;
   top: -40px;
   left: 35%;

}

.Perfil h2{
   margin: 0;
   padding: 0 0 20px;
   text-align: center;
   font-size: 20px;
  
 }

.Perfil input{
   width: 80%;
   margin-bottom: 20px;
  
}



#experto{
   
  width: 20%;
  background-color: rgb(9, 133, 190);
  border-radius: 20%;
}

#noexperiencia{
   
   width: 20%;
   background-color:rgb(9, 133, 190);
   border-radius: 20%;
}

#surfing{
   
   width: 20%;
   background-color:  rgb(9, 133, 190);
   border-radius: 20%;
}