/*Pantalla de bienvenida*/
#start-button {
    background-color: #008F95;
    border-color: #008F95;
}

/*Pantalla de bienvenida desktop*/
.hide-desktop-section {
 position: absolute;
 bottom: 1em;
 right: 3em;
 top: 3em;
}

.img-fondo-desktop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}git 

.card-desktop {
 background-color: transparent;
 border-color: transparent;
}

.card-img-top {
    height: auto;
    width: 50%;
}

.btn-principal{
    width: 20%;
    font-size: 18px;
    margin: 10px;
}

.cabecera {
background-color: #E9B000;
width: 100%;
height: 60px;
text-align: center;
color: white;
}

.registrar-box {
    display: flex;
    flex-direction: column;
}
.btn {
    color: black;
}


section {
    display: flex;
    justify-content: center;
}

.btn-primary {
    border-radius: 15px;
 background-color: #E9B000;
 border-color: #E24E42;
}

.card-body {
    text-align: center;
}

.btn-social {
    border-radius: 20px;
    font-size: 15px;
    width: 200px;
    height: 40px;
    border-color: #E24E42;
    background-color: white;
}

.img-social {
    width: 25px;
    height: 25px;
}

h5 {
font-family: 'Gidole';
font-size: 30px;
}
