body{
    margin:0;
    padding: 0;
}

body .header{
    background-color: #00D3B0;
    margin: 0;
    padding: 0;
    height: 6rem;
}

.logo-one{
    width: 50%;
}

h3,
.pantalla-registro label{
    color: #00D3B0;
}

.pantalla-registro label{
    width: 20%;
}

.login-input{
    margin:0.9rem 0;
}

.pantalla-registro{
    display: none;
}

.logo-two{
    width: 20%;
    
    margin: 0.8rem 0;
}

.input-register{
    margin:1rem 0;
}


