body{
    margin:0;
    padding: 0;
}

body .header{
    background-color: #00D3B0;
    margin: 0;
    padding: 0;
    height: 6rem;
}

.logo-one{
    width: 50%;
}

.inicia-sesion{
    color: #00D3B0;
}

.login-input{
    margin:0.9rem 0;
}

.pantalla-registro{
    display: none;
}


.linea {
    margin:0px 20px;
    width:90px;    
    border-top:1px solid #00D3B0;
    position: relative;
    top:10px;
    float:left;
    }
  
  .leyenda {
    font-weight:bold;
    float:left;
    color: #00D3B0;
   }

   .divider{
    width:400px;
    margin:auto;
   }
=======
.logo-two{
    width: 20%;
    
    margin: 0.8rem 0;
}

.input-register{
    margin:0.9rem 0;
}



