header{
    height: 5vh;
    background-color: #73ECEF;
}

main section{
    background-color: antiquewhite;
    width: 100vw;
    height: 95vh;
}

#intro{
    height: 100vh;
    background-image: url("img/fondo-desktop.png");
    background-size: cover;
    display:flex; 
}

.logo img{
    width: 8rem;
}


