/* mobile-first*/
*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
} 

/* NAVBAR */
.navbar {
    height: 12vh;
    width: 100vw;
    background: #bcbabf; 
    font-size: 1.5em;
    padding: 1vh 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-family: 'Kalam', cursive; */
}

#navbar-dsk {
    display: none;
}

#navbar-mbl{
    justify-content: center;
}

#logo {
    width: 45vh;
}

/* Login & Register */
.linksToJoin {
    /* border: 1px solid white; */
    text-decoration: none;
    /* padding: .25rem .5rem; */
    padding: 0.5%;
    font-family: 'Kalam', cursive;
    font-size: 1.5em;
}

.linksToJoin:hover {
    text-decoration:underline;
}

#btn-login {
    color: #991b1e;
}

#btn-register {
    background: #991b1e;
    color: #bcbabf;
}

/* HOME */
.page-background {
    height: 88vh;
    width: 100vw;
    background: url(img/wedding-gay.jpg);
    background-size: cover;
    background-position: top;
}

.main-home {
    padding: 2rem;
    background: rgba(188, 186, 191, 0.65);
    color: #991b1e;
}

.main-home h1 {
    font-family: 'Ma Shan Zheng', cursive;
}

.main-home p {
    font-family: 'Kalam', cursive;
}
#main-home-mbl {
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

#main-home-dsk {
    display: none;
}

.form-background{
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background: rgba(188, 186, 191, 0.65);
    color: #991b1e;
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 2.1rem;
    text-align: center;
}

.form-inputs {
    width: 40vh;
    height: 5vh;
    font-family: 'Kalam', cursive;
    font-size: .8rem;
}

.form-submit {
    width: 40vh;
    height: 5vh;
    font-family: 'Kalam', cursive;
    font-size: 1.2rem;
}

/* desktop version */
@media (min-width: 600px){
    /* NAVBAR */
    #navbar-dsk {
        display: flex;
    }

    #navbar-mbl{
        display: none;
    }

    /* HOME */

    #home {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .page-background {
        grid-column: 1/2;
        height: 88vh;
        width: 100%;
    }
    
    #main-home-dsk {
        grid-column: 2/3;
        /* width: 100%; */
        height: 88vh; 
        display: block;
    }

    #main-home-dsk h1 {
        font-size: 2.6rem;
    }

    #main-home-dsk p {
        font-size:  1.3rem;
    }

    #main-home-mbl {
        display: none;
    }

    .form-inputs {
        width: 60vh;
        font-size: 1.2rem;
    }

}