* {
  margin: 0;
  padding: 0;
}

/*Box sizing*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



/*GLOBALES*/

/*SELECTOR ETIQUETA*/

nav{
width: 90vw;
margin: 0 auto;
padding: 0.5rem 0;
}

/*REGISTER*/
#register-page{
display: flex;

}

#img-register-page {
  display: flex;
  justify-content: flex-start;
  width: 50vw;
  height: 100vh;
  background-image: url(img/orange-register.png);
}


/*RESPONSIVE*/