* {
  margin: 0;
  padding: 0;
}

/*Box sizing*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



/*GLOBALES*/

/*SELECTOR ETIQUETA*/

body {
  font-family: 'Lato', sans-serif;
}

nav{
width: 90vw;
margin: 0 auto;
padding: 0.5rem 0;
}

figure {
  margin-bottom: 0;
}

button {
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background: #fd9e25; /* Old browsers */
  background: -moz-linear-gradient(top,  #fd9e25 1%, #ff7600 53%, #ff7600 53%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fd9e25 1%,#ff7600 53%,#ff7600 53%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fd9e25 1%,#ff7600 53%,#ff7600 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd9e25', endColorstr='#ff7600',GradientType=0 ); /* IE6-9 */

}


/*REGISTER*/
.form-group {
  margin: 0;
}

#register-page{
display: flex;

}

#img-register-page {
  display: none;
}


#form-register-page {
background: #b6d0f2; /* Old browsers */
background: -moz-linear-gradient(top,  #b6d0f2 0%, #ffffff 68%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b6d0f2 0%,#ffffff 68%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b6d0f2 0%,#ffffff 68%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6d0f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
background-attachment: fixed;
}

#all-forms {
  display: flex;
  flex-direction: column;
  width: 100%;
}


#login {
  background-color: #A9BF04;
  background-attachment: fixed;
  padding: 2rem 1rem;
  width: 100%;  

}

#login form input {
  width: 30%;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  border: none;
}




#register {
  width: 70%;
  margin: 1rem auto;
  height: auto;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.12);
-moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.12);
box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.12);
}

/*ASIDE*/
.hide{
  display: none;
}

.button{
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.social-media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.google-facebook {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



/*RESPONSIVE*/

@media only screen and (min-width: 576px) {

  #login form {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }
  
  #login form input {


    margin-right: 1rem;
  }

  .col-sm-10 {
    max-width: 100%;
    margin-right: none;
  }

  #register {
    width: 50%;

  }

  #img-register-page, #form-register-page {
    display: flex;
    justify-content: flex-start;
    width: 50vw;
    height: 100vh;
  }
  
  
  #img-register-page {
    display: flex;
    background-image: url(img/orange-register.jpg) ;
    background-size: cover;
  }
  
.col-sm-2 {
 max-width: 300px; 
}
}