*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, p{
    font-family: sans-serif;
}


#header-container{
    background-color:#804c87;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100vw;
    height: 20vh;
}

.container-home{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: 2fr 2fr 2fr;
}
.container-home{
    background-image: url(imgs/fondo-boda.jpg);
    background-size: cover;
    height: 80vh;
}
.home-text{
    grid-column-start: 2;
    grid-row-start: 2;
    
}
.home-1{
    background-color:#bfa6ff;
    opacity: 0.5;
    grid-column-start: 2;
    grid-row-start: 2;
    
}




h1{
    padding: 2rem;
}

h2{
    text-align: center;
    color: white;
    margin: 2rem;
}

.container-register{
    background-color: #E2D6FF;
    display: grid;
  
}

.form-backg{
    background-image: url(imgs/anillos.jpg);
    background-size: cover;
    height: 100vh;
    margin: 15% 20%;
}
.register{
    text-align: center;
    display: inline-flex;
}